/*
PROPERTIES, ATTRIBUTES, UNITS, PSEUDO, AND MORE LEARNED:
-> vertical-align = property aligns the button vertically to the top, middle, bottom, or baseline of the line.
-> padding = property creates space inside the element, between the content and the border.
    - you can use either the shortcut or individual properties;
        - shortcut: padding: [<top bottom>] [<right left>];
        - individual: padding-top, padding-right, padding-bottom, padding-left;
    - note: if you use border-radius, the padding will be affected. By 1 px of border-radius. By 1 px;
            that's why always minus 1 px from the padding when using border-radius.
-> margin = property creates space outside the element, between the border and other elements.

*/

/*SUBSCRIBE*/
.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;
  transition: opacity 0.15s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.7;
}

.subscribe-button:active {
  opacity: 0.5;
}
/*JOIN*/
.join-button {
  background-color: transparent;
  color: #2188b8;
  border-color: #2188b8;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;

  transition: background-color 0.15s, color 0.15s;
}

.join-button:hover {
  background-color: #2188b8;
  color: white;
}

.join-button:active {
  opacity: 0.7;
}
/*Tweet*/
.tweet-button {
  background-color: #1d9ae8;
  font-weight: regular;
  color: white;
  border: none;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;

  border-radius: 18px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  /*x-offset, y-offset, blur-radius, color*/
  /*the box-shadow property adds a shadow to the button when hovered over*/
}

/*Own Exercise: Hex to RGB Calculator Box*/
.hex-to-rgb-calculator-container {
  border: 1px solid transparent;
  margin-top: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #66cdaa;
}

.hex-to-rgb-calculator-container h2 {
  font-family: "Arial", sans-serif;
  color: white;
}

.hex-to-rgb-calculator-container p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 12px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.hex-to-rgb-calculator-container h4 {
  font-family: "Arial", sans-serif;
  color: white;
  font-style: italic;
  margin-top: 50px;
}

.hex-to-rgb-calculator-container a.go-to-converter-button {
  display: inline-block;
  border: 1px solid green;
  background-color: whitesmoke;
  color: green;
  text-decoration: none;
  width: 200px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 19px;
  font-family: "Poppins", sans-serif;

  transition: all 0.15s;
}

.hex-to-rgb-calculator-container a.go-to-converter-button:hover {
  background-color: green;
  color: whitesmoke;
  height: 28px;
  line-height: 28px;
  width: 150px;
  font-size: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.hex-to-rgb-calculator-container a.go-to-converter-button:active {
  opacity: 0.4;
}

/*EXERCISE: Pagination Container*/
.pagination-container {
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  width: 280px;
  height: 30px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 2px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-numbers,
.back-button {
  margin-right: 20px;
}

/*PAGE NUMBERS*/
.page-numbers {
  text-decoration: none;
  color: rgb(151, 151, 151);
  font-family: "Poppins", sans-serif;
  transition: opacity 0.15s, font-size 0.15s;
}

.page-numbers:hover {
  opacity: 0.7;
  font-size: 10px;
}

.page-numbers:active {
  opacity: 0.5;
  font-size: 10px;
  color: black;
}

/**NEXT AND BACK BUTTONS*/

.next-button,
.back-button {
  background-color: transparent;
  border: none;
  color: rgb(151, 151, 151);
  font-family: "Poppins", sans-serif;
  cursor: pointer;

  transition: all 0.15s;
}

.next-button:hover,
.back-button:hover {
  opacity: 0.7;
  font-size: 10px;
}

.next-button:active,
.back-button:active {
  opacity: 0.5;
  font-size: 10px;
  color: black;
}
